In [5]:
import random
import math
import json
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
%load_ext blackcellmagic

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

In [23]:
def res_df_from_json(json_file):
    rdf = pd.DataFrame(columns=["id", "role", "timestamp"])
    adf = pd.DataFrame()
    data = json.load(open(json_file, "r"))["responses"]
    for rater_id in data:
        role = data[rater_id]["role"]
        timestamp = data[rater_id]["timestamp"]
        answers = data[rater_id]["answers"]
        row = {"id": rater_id,"role": role, "timestamp": timestamp}
        rdf = rdf.append(row, ignore_index=True)
        adf = adf.append(answers, ignore_index=True)
    return rdf, adf


RESPONSE_JSON = "resumesai-8d1b3-export-0128.json"
RESPONSE_CSV = "raters.csv"
ANSWER_CSV = "answers.csv"
rdf, adf = res_df_from_json(RESPONSE_JSON)
rdf.to_csv(RESPONSE_CSV)
adf.to_csv(ANSWER_CSV)

In [20]:
rdf

                     id           role      timestamp
0  -LPJqxk_oAUkYS6wbftT      recruiter  1540095728249
1  -LPJrbyPHKgFRNi6PHe1      recruiter  1540095901514
2  -LPJv208iX5I2F-rQEYP  hiringmanager  1540096793596
3  -LPJzeWj7bMQ7NvA5inH       engineer  1540098009097
4  -LPK2vNZpA3l2W3Ghxg3       engineer  1540099126722

In [21]:
adf

,j050601_m,j050701_m,j050702_m,j052201_m,j052501_m,j052601_m,j052602_m,j053801_m,j053802_m,s051542_m,...,v051601_m,v051701_m,v052401_m,v053001_m,v053201_m,v054501_m,v054601_f,v064101_f,v064201_f,v090201_m
0,no,no,yes,yes,no,yes,no,no,no,no,...,no,yes,no,yes,no,yes,no,no,yes,no
1,yes,yes,yes,yes,no,yes,no,no,no,no,...,no,no,no,no,no,no,yes,no,yes,no
2,yes,yes,no,yes,yes,no,no,no,no,no,...,no,yes,no,yes,no,yes,yes,yes,yes,no
3,yes,yes,yes,yes,yes,yes,no,no,no,no,...,no,yes,no,yes,no,yes,yes,yes,yes,no
4,yes,no,yes,yes,yes,no,no,no,no,no,...,no,yes,no,no,no,yes,no,no,yes,no

In [33]:
pd.read_csv("raters.csv", index_col=0)

                     id           role      timestamp
0  -LPJqxk_oAUkYS6wbftT      recruiter  1540095728249
1  -LPJrbyPHKgFRNi6PHe1      recruiter  1540095901514
2  -LPJv208iX5I2F-rQEYP  hiringmanager  1540096793596
3  -LPJzeWj7bMQ7NvA5inH       engineer  1540098009097
4  -LPK2vNZpA3l2W3Ghxg3       engineer  1540099126722

In [32]:
pd.read_csv("answers.csv", index_col=0)

,j050601_m,j050701_m,j050702_m,j052201_m,j052501_m,j052601_m,j052602_m,j053801_m,j053802_m,s051542_m,...,v051601_m,v051701_m,v052401_m,v053001_m,v053201_m,v054501_m,v054601_f,v064101_f,v064201_f,v090201_m
0,no,no,yes,yes,no,yes,no,no,no,no,...,no,yes,no,yes,no,yes,no,no,yes,no
1,yes,yes,yes,yes,no,yes,no,no,no,no,...,no,no,no,no,no,no,yes,no,yes,no
2,yes,yes,no,yes,yes,no,no,no,no,no,...,no,yes,no,yes,no,yes,yes,yes,yes,no
3,yes,yes,yes,yes,yes,yes,no,no,no,no,...,no,yes,no,yes,no,yes,yes,yes,yes,no
4,yes,no,yes,yes,yes,no,no,no,no,no,...,no,yes,no,no,no,yes,no,no,yes,no