# Find optimal features in the Resume csv

This notebook will open a csv and create plots to compare clusters of features and choose optimal features

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
table = pd.read_csv("Resume.csv")
table

,filename,ready_to_work,years_in_school,major_gpa,overall_gpa,hs_gpa,shows_gpa,took_algorithms,took_data_science,took_security,...,gender,is_transfer,has_volunteer_exp,has_github,has_errors,num_errors,major,minor,specialization,is_foreign
0,s052220,Fall2019,NaN,NaN,3.91,NaN,Yes,Yes,No,No,...,Male,No,No,Yes,No,0,Computer Science,Applied Mathematics,NaN,Yes
1,v090201,NaN,NaN,NaN,NaN,NaN,No,No,No,No,...,Male,No,Yes,Yes,No,0,Computer Science,NaN,Mathematics,No
2,s052922,Fall2021,1.0,NaN,NaN,4.10,Yes,No,Yes,No,...,Female,No,No,No,No,0,Computer Engineering,NaN,NaN,No
3,j052602,NaN,1.0,NaN,NaN,NaN,No,No,No,No,...,Male,No,No,No,No,0,Computer Science,NaN,Machine Learning,No
4,j052201,Fall2021,1.0,NaN,3.93,NaN,Yes,Yes,No,No,...,Male,No,No,Yes,No,0,Computer Science,NaN,Mathematics,No
5,j052601,Fall2021,NaN,NaN,3.38,NaN,Yes,No,No,No,...,Male,No,No,Yes,No,0,Computer Science,NaN,NaN,No
6,v051101,Spring2022,0.0,NaN,NaN,NaN,No,No,No,No,...,Male,No,Yes,Yes,No,0,Computer Science,NaN,NaN,No
7,v064201,Spring2019,3.0,NaN,NaN,NaN,No,No,No,No,...,Female,No,No,Yes,No,0,Electrical & Computer Engineering,NaN,NaN,No
8,j050702,Fall2020,NaN,NaN,3.82,NaN,Yes,Yes,Yes,No,...,Male,No,No,Yes,No,0,Computer Science,Music,NaN,No
9,v051601,Fall2022,0.0,NaN,NaN,4.46,Yes,No,No,No,...,Male,No,Yes,No,No,0,Computer Engineering,NaN,NaN,No
10,v052401,Fall 2021,1.0,4.0,4.00,NaN,Yes,No,No,No,...,Male,No,No,No,No,0,Computer Engineering,NaN,NaN,No
11,v064101,Fall2022,NaN,NaN,NaN,NaN,No,Yes,No,No,...,Female,No,No,No,No,0,Computer Science,Philosophy,NaN,No
12,j053802,Fall2021,NaN,NaN,4.00,NaN,Yes,No,No,No,...,Male,No,No,Yes,No,0,Computer Science,Psychology,Mathematics,No
13,v051701,Fall2021,NaN,NaN,NaN,NaN,No,No,No,No,...,Male,No,Yes,No,No,0,Computer Science,NaN,NaN,No
14,v054601,Spring2021,NaN,NaN,3.37,NaN,Yes,Yes,No,No,...,Female,No,No,No,No,0,Computer Science,NaN,NaN,No
15,s051542,Fall2022,1.0,NaN,NaN,NaN,No,No,No,No,...,Male,No,No,Yes,No,0,Computer Science,NaN,NaN,No
16,v053201,NaN,3.0,NaN,NaN,NaN,No,No,No,No,...,Male,No,Yes,Yes,No,0,Computer Science,NaN,NaN,No
17,v053001,Fall2019,3.0,NaN,3.90,NaN,Yes,No,No,No,...,Male,No,No,Yes,No,0,Computer Science,NaN,NaN,No
18,j050601,Fall2019,NaN,NaN,3.73,NaN,Yes,Yes,No,No,...,Male,No,No,Yes,No,0,Computer Science,NaN,NaN,No
19,j050701,Fall2020,NaN,NaN,3.56,NaN,Yes,No,No,No,...,Male,No,Yes,No,No,0,Computer Science,NaN,NaN,No
20,s051903,Fall2019,3.0,NaN,3.70,NaN,Yes,Yes,Yes,No,...,Male,No,No,Yes,No,0,Computer Science and Applied Mathematics,NaN,NaN,No
21,j052501,Fall2020,2.0,NaN,3.40,4.40,Yes,No,No,No,...,Male,No,No,No,No,0,Computer Science,NaN,NaN,No
22,v054501,Fall2020,NaN,NaN,3.40,NaN,Yes,No,No,Yes,...,Male,No,No,No,No,0,Computer Science,NaN,NaN,No
23,j053801,Fall2021,3.0,3.9,3.86,NaN,Yes,Yes,No,Yes,...,Male,No,No,Yes,No,0,Computer Science,Cyber Security,NaN,No
24,v051501,Spring 2021,NaN,NaN,3.51,NaN,Yes,Yes,Yes,No,...,Male,No,Yes,No,No,0,Computer Science,NaN,NaN,No

# Non of the Scatter Plots are correlating. Thus, moving onwards to Histograms

1. Bnary Table

In [5]:
a1 = table.iloc[0:len(table),6:51]
a2 = table.iloc[0:len(table),52:53]
a3 = table.iloc[0:len(table),54:55]
a4 = table.iloc[0:len(table),56:58]
a5 = table.iloc[0:len(table),60:61]
a6 = table.iloc[0:len(table),62:63]
a8 = table.iloc[0:len(table),68:72]
a9 = table.iloc[0:len(table),76:77]
binary = pd.concat([a1,a2,a3,a4,a5,a6,a8,a9], axis = 1)
a = pd.concat([(binary[i].apply(lambda x: 1 if x == "Yes" else 0)) for i in list(binary)], axis = 1)
b = pd.concat([table.iloc[0:len(table),0:1],a], axis = 1)

In [ ]:
b.to_csv("binary.csv")

In [6]:
b

,filename,shows_gpa,took_algorithms,took_data_science,took_security,took_data_structures,took_databases,took_oop,took_swe,knows_vcs,...,has_awards,has_non_tech_exp,has_tech_exp,has_leader_role,has_member_role,is_transfer,has_volunteer_exp,has_github,has_errors,is_foreign
0,s052220,1,1,0,0,1,1,1,1,1,...,1,0,1,1,1,0,0,1,0,1
1,v090201,0,0,0,0,0,0,1,0,0,...,0,1,0,1,1,0,1,1,0,0
2,s052922,1,0,1,0,1,0,1,0,0,...,0,0,1,1,1,0,0,0,0,0
3,j052602,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,j052201,1,1,0,0,1,0,1,0,1,...,1,1,1,1,1,0,0,1,0,0
5,j052601,1,0,0,0,1,1,1,0,1,...,1,0,1,1,0,0,0,1,0,0
6,v051101,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,1,1,0,0
7,v064201,0,0,0,0,0,0,0,0,1,...,0,0,1,1,0,0,0,1,0,0
8,j050702,1,1,1,0,1,1,1,1,0,...,0,0,1,0,0,0,0,1,0,0
9,v051601,1,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,1,0,0,0
10,v052401,1,0,0,0,0,0,0,0,1,...,1,1,0,1,1,0,0,0,0,0
11,v064101,0,1,0,0,1,0,1,0,0,...,0,0,1,1,1,0,0,0,0,0
12,j053802,1,0,0,0,0,0,1,0,1,...,1,1,1,0,1,0,0,1,0,0
13,v051701,0,0,0,0,0,0,1,0,1,...,0,0,1,1,1,0,1,0,0,0
14,v054601,1,1,0,0,1,0,1,1,1,...,0,1,1,0,1,0,0,0,0,0
15,s051542,0,0,0,0,0,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
16,v053201,0,0,0,0,0,0,1,0,1,...,0,1,1,1,0,0,1,1,0,0
17,v053001,1,0,0,0,0,1,1,0,1,...,1,0,1,1,0,0,0,1,0,0
18,j050601,1,1,0,0,1,0,0,1,0,...,0,0,1,1,0,0,0,1,0,0
19,j050701,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,1,0,0,0
20,s051903,1,1,1,0,1,1,1,1,1,...,1,0,1,1,1,0,0,1,0,0
21,j052501,1,0,0,0,0,0,1,0,1,...,1,0,1,1,1,0,0,0,0,0
22,v054501,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,j053801,1,1,0,1,1,1,1,1,0,...,1,1,1,0,1,0,0,1,0,0
24,v051501,1,1,1,0,1,1,1,0,0,...,1,0,1,1,1,0,1,0,0,0

Decision Tree Classifier

In [234]:
target = pd.read_csv("answers.csv")
target

,Unnamed: 0,j050601_m,j050701_m,j050702_m,j052201_m,j052501_m,j052601_m,j052602_m,j053801_m,j053802_m,...,v051601_m,v051701_m,v052401_m,v053001_m,v053201_m,v054501_m,v054601_f,v064101_f,v064201_f,v090201_m
0,0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,2,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
3,3,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
4,4,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,5,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0

In [7]:
b0 = table.iloc[:,0:1]
b1 = table['overall_gpa'].apply(lambda x: 0.0 if math.isnan(x) else x)
b2 = table.iloc[:,51:52]
b3 = table.iloc[:,53:54]
b4 = table.iloc[:,55:56]
b5 = table.iloc[:,58:60]
b6 = table.iloc[:,61:62]
b7 = table.iloc[:,63:64]
b8 = table.iloc[:,72:73]
continuous = pd.concat([b0,b1,b2,b3,b4,b5,b6,b7,b8], axis=1)

NameError: name 'math' is not defined

In [ ]:
a