In [1]:
import random
import math
import json
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%load_ext blackcellmagic

In [3]:
random.seed(42)

In [4]:
adf = pd.read_csv("answers.csv", index_col=0)
adf.head(3)

,j050601_m,j050701_m,j050702_m,j052201_m,j052501_m,j052601_m,j052602_m,j053801_m,j053802_m,s051542_m,...,v051601_m,v051701_m,v052401_m,v053001_m,v053201_m,v054501_m,v054601_f,v064101_f,v064201_f,v090201_m
0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0

In [52]:
"""Simulate student resume data"""
sdf = adf.T
sdf.columns = ["a", "b", "c", "d", "e", "f"]
sdf["accepted"] = adf[0:1].T
sdf.head(3)

             a    b    c    d    e    f  accepted
j050601_m  0.0  1.0  1.0  1.0  1.0  1.0       0.0
j050701_m  0.0  1.0  1.0  1.0  0.0  1.0       0.0
j050702_m  1.0  1.0  0.0  1.0  1.0  1.0       1.0

In [57]:
def intervene_on(odf, feature, value):
    df = odf.copy()
    N = len(df)
    options = df[feature].unique()
    
    def intervene(val):
        return random.choice(options) if val == value else val
    
    df[feature] = df[feature].apply(intervene)
    return df

In [69]:
N = len(sdf)
feature = "a"
value = 0.0
idf = intervene_on(sdf, feature, value)
q0 = len(sdf.query("accepted >= 1.0")) / N
qi = len(idf.query("accepted >= 1.0")) / N
influence = q0 - qi
print("Influence of {0} = {1}: {2:.3f}".format(feature, value, influence))

Influence of a = 0.0: 0.000

In [71]:
sdf.head(3)

             a    b    c    d    e    f  accepted
j050601_m  0.0  1.0  1.0  1.0  1.0  1.0       0.0
j050701_m  0.0  1.0  1.0  1.0  0.0  1.0       0.0
j050702_m  1.0  1.0  0.0  1.0  1.0  1.0       1.0

In [70]:
idf.head(3)

             a    b    c    d    e    f  accepted
j050601_m  1.0  1.0  1.0  1.0  1.0  1.0       0.0
j050701_m  1.0  1.0  1.0  1.0  0.0  1.0       0.0
j050702_m  1.0  1.0  0.0  1.0  1.0  1.0       1.0